/* Form Container */

div#root{
    background-image: url("../assets/BackgroundImage.svg");
    background-size: cover; 
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;

}
.main{
    width: 100vw;
}
.form-container {
    overflow-y: auto;
    max-height: 550px;
}
  

.form-container {
    
    padding: 50px 40px;
    max-width: 100vw;
    margin: auto;

}

.form-inner-container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 510px;
    margin: auto;
    padding-top: 14px;
}

h1 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 22px;
    margin-top: 0px;
}

.loan-form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
}

input,
select {
    padding: 12px;
    border: 1px solid #ffe0e0;
    border-radius: 8px;
    font-size: 16px;
    background-color: #f9f9f9;
    color: #333;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    height: 48px;
}

input:focus,
select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5);
    background-color: #fff;
}

.submit-btn {
    background-color: #abe3fc;
    color: rgb(0, 0, 0);
    padding: 12px;
    width: 300px;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 0 auto;
}

.submit-btn:hover {
    background-color: #74b2cd;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

@media (max-width: 768px) {
    .form-row {
        flex-direction: column;
        gap: 15px;
    }

    .form-inner-container {
        padding: 20px;
    }

    .submit-btn {
        width: 100%; 
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 20px;
    }

    label {
        font-size: 12px;
    }

    input, select {
        font-size: 14px;
        padding: 10px;
    }

    .form-inner-container {
        padding: 15px;
    }
}
